* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/jute_bg.jpg") no-repeat center center/cover;
  height: 100vh;
  /* position: relative; */
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
#main {
  
}
.logo {
  margin: 10px 20px;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

#navbar ul {
  display: flex;
  padding-right: 50px;
}
.nav-li {
  padding: 15px;
  list-style: none;
  margin-top: 25px;
  /* border: 3px solid black; */
  height: 3rem;
}
.logo-word {
  margin-top: 43px;
  font-size: 30px;
  padding-left: 3px;
  color: #fff;
}
.text-primary {
  color: #93cb52;
}
.nav-li a {
  color: #fff;
  font-size: 1.11rem;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: #444;
  color:  #93cb52;  
  border-radius: 5px;
}

.form {
  text-align: center;
  max-width: 350px;
  border-radius: 20px;
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  height: 630px;
}
.img-button-text {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.form-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  margin-top: 10px;
}
.text-patient {
  margin-left: 35px;
}
.input-field {
  width: 90%;
  box-sizing: border-box;
  padding: 0px 5px;
  background: rgba(161, 104, 104, 0.055);
  outline: none;
  border: none;
  border-bottom: 2px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}
::placeholder {
  color: #fff;
}
.btn-login {
  width: 90%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  margin-left: 20px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.9;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.btn-login:hover {
  background: #003366;
  opacity: 0.7;
}
.forgot-create {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
