* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.main{
  background: url("../images/back2.jpg") no-repeat center center/cover;
}
.logo {
  margin: 10px 20px;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* background: rgba(51, 51, 51, 0.6); */
  border-radius: 5px;
}
#navbar ul {
  display: flex;
  padding-right: 50px;
}
.text-primary {
  color: #93cb52;
}
.nav-li {
  padding: 15px;
  list-style: none;
  margin-top: 25px;
  height: 3rem;
}
.logo-word {
  margin-top: 23px;
  font-size: 30px;
  padding-left: 3px;
  color: aliceblue;
}
.nav-li a {
  color: #fff;
  font-size: 1.11rem;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover, #navbar ul li a.current {
  background-color: rgba(68, 68, 68, 0.802);
  color: #93cb52;
  border-radius: 6px;
}
/* First Section */
.first-sec {
  padding-top: 120px;
  padding-left: 210px;
  color: #fff;
}
.first-sec p {
  line-height: 1.5;
}
.first-above {
  padding-bottom: 130px;
}
.motto-first {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-bottom: 7px;
  padding-left: 15px;
}
.motto-second {
  font-size: 75px;
}
.first-below {
  width: 620px;
}
.first-below p {
	color: #000000;
   
  line-height: 2;
}
.achieve {
  padding: 60px 200px;
  display: flex;
  justify-content: space-evenly;
  background: rgba(8, 4, 4, 0.5);
  
}
.achi-no {
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
}
.achi-p {
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
}
.ach-one img {
  padding-left: 75px;
}
.ach-two img {
  padding-left: 55px;
}
.ach-three img {
  padding-left: 40px;
}
.ach-four img {
  padding-left: 10px;
}
.ach-two h1 {
  padding-top: 30px;
}
.ach-three h1 {
  padding-top: 30px;
}
.first-bel{
  background:url(../images/image.jpg) no-repeat center center/cover;
  padding-top: 40px;
}
.second-line{
  display: flex;
  justify-content: space-evenly;
}
.first-img{
  text-align: center;
  padding-bottom: 60px;
  color: #fff;
}
.first-he{
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 70px;
  text-align: center;
}
.den{
  /* background-color: #333; */
  padding: 30px 190px;
}
.den-one img{
  border-radius: 50%;
}
.dent{
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}
.den-head{
  font-size: 40px;
  text-align: center;
  padding-bottom: 60px;
}
.about-doc{
  padding-left: 40px;
}
.dento{
  background: #fff;
  border-radius: 5px;
}
.dento .about-doc{
  padding-right: 20px;
}