* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: url("../images/hero_bg_1.jpg") no-repeat center center/cover;
  height: 100vh; */
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.logo {
  margin: -12px 20px;

  display: flex;

}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* background: rgba(51, 51, 51, 0.6); */
  border-radius: 5px;
}

#navbar ul {
  display: flex;
  padding-right: 50px;
}

.text-primary {
  color: #93cb52;
}
.nav-li {
  padding: 15px;
  list-style: none;
  margin-top: 20px;
  height: 3rem;
}
.logo-word {
  margin-top: 40px;
  font-size: 30px;
  padding-left: 3px;
  color: aliceblue;
}
.nav-li a {
  color: #fff;
  font-size: 1.11rem;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: rgba(68, 68, 68, 0.802);
  color: #93cb52;
  border-radius: 6px;
}
/* First Section */
.first-sec {
  /* background: url("../images/hero_bg_1.jpg") no-repeat center center/cover; */
  padding-top: 160px;
  padding-left: 210px;
  color: #fff;
}
.first-sec p {
  line-height: 1.5;
}
.first-above {
  padding-bottom: 100px;
}
.motto-first {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding-bottom: 7px;
  font-weight: bolder;
}
.motto-second {
  font-size: 75px;
}
.motto-third {
  font-size: 75px;
}
.first-below {
  display: flex;
  padding-bottom: 40px;
  justify-content: space-evenly;
  padding-right: 100px;
}
.logo-firsts {
  color: #fff;
  /* padding-right: 10px; */
}
.first-head {
  padding-bottom: 5px;
}
.first-imge {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px;
  height: 130px;
  width: 350px;
  margin-right: 35px;
  transition: 0.3s;
}

.first-imge:hover {

  background: rgba(0,0,0,0.9);
}
.nolinear {
  display: flex;
}
.linear {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.linear a{

  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.linear a:hover
{

  font-size: 160%;
}

.main{
  background: url("../images/jute_bg.png") no-repeat center center/cover;


}
.first-bel{
  
  padding-top: 40px;
  height: 460px;
}
.second-line{
  display: flex;
  justify-content: space-evenly;
}
.first-img{
  text-align: center;
  padding-bottom: 60px;
  color: #333;
}

.first-he{
  font-size: 50px;
  color: #333;
  font-weight: bold;
  padding-bottom: 70px;
  text-align: center;
}
.den{
  background:url(../images/image.jpg) no-repeat center center/cover;
  padding: 30px 190px;
  color: #fff;
}
.den-one img{
  border-radius: 50%;
}
.dent{
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}
.den-head{
  font-size: 40px;
  text-align: center;
  padding-bottom: 60px;
}
.about-doc{
  padding-left: 40px;
}
.dento{
  /* background: #fff; */
  border-radius: 5px;
}
.dento .about-doc{
  padding-right: 20px;
}
.story{
  display: flex;
  height: 614px;
  justify-content: space-evenly;
}
.story-head{
  font-size: 60px;
  text-align: center;
  padding: 40px;
}
.story-p{
  padding: 0 120px;
}
.pen{
  /* background:url(../images/image.jpg) no-repeat center center/cover; */
  padding: 30px 190px;
  color: #333;
}
.pen-one img{
  border-radius: 50%;
}
.pent{
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}
.pen-head{
  font-size: 40px;
  text-align: center;
  padding-bottom: 60px;
}
.about-poc{
  padding-left: 40px;
}
.pento{
  /* background: #fff; */
  border-radius: 5px;
}
.pento .about-poc{
  padding-right: 20px;
}